<a href="https://colab.research.google.com/github/laaksonenl/machine-learning/blob/master/red_wine_quality_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Red wine quality classification

In [6]:
! pip install -q kaggle
from google.colab import files

files.upload()

! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/

! chmod 600 ~/.kaggle/kaggle.json

! kaggle datasets download -d 'uciml/red-wine-quality-cortez-et-al-2009'

Saving kaggle.json to kaggle.json
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 9.87MB/s]

In [7]:
%%bash
mkdir -p /content/data
unzip /content/red-wine-quality-cortez-et-al-2009.zip -d /content/data/

Archive:  /content/red-wine-quality-cortez-et-al-2009.zip
  inflating: /content/data/winequality-red.csv

In [10]:
import pandas as pd

data = pd.read_csv('/content/data/winequality-red.csv')

In [20]:
data.shape

(1599, 12)

In [22]:
from sklearn.model_selection import train_test_split

X = data.drop("quality", axis=1)
y = data["quality"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True, stratify=y)

In [23]:
X_train.head()

      fixed acidity  volatile acidity  citric acid  ...    pH  sulphates  alcohol
679            10.8             0.260         0.45  ...  3.13       0.54      9.6
1496            7.7             0.540         0.26  ...  3.26       0.59      9.7
1403            7.2             0.330         0.33  ...  3.23       1.10     10.0
690             7.4             1.185         0.00  ...  3.63       0.54     10.7
611            13.2             0.380         0.55  ...  2.98       0.54      9.4

[5 rows x 11 columns]

In [24]:
X_train.describe()

       fixed acidity  volatile acidity  ...    sulphates      alcohol
count    1279.000000       1279.000000  ...  1279.000000  1279.000000
mean        8.295622          0.529163  ...     0.656638    10.416615
std         1.744671          0.178481  ...     0.167211     1.077712
min         4.600000          0.120000  ...     0.330000     8.400000
25%         7.100000          0.390000  ...     0.550000     9.500000
50%         7.900000          0.520000  ...     0.620000    10.100000
75%         9.100000          0.640000  ...     0.730000    11.100000
max        15.900000          1.330000  ...     2.000000    14.900000

[8 rows x 11 columns]